---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog/
  - /wordpress/blog-posts/
---

{% include base_path %}

<div class="notice--warning" markdown="1">
**Disclaimer:** This is very old documentation and may be significantly out of date. Content here is preserved for archival purposes and may no longer reflect current best practices or my present views.
</div>

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
